<footer>
    <div id="link">
    
    <a href="https://github.com/thekingdeeno" rel="noopener" target="_blank"><i class="fa-brands fa-lg fa-github" style="color: #ffffff; padding: 10px;"></i> </a>

    <a href="https://www.linkedin.com/in/nwando-ifezue-979a99273/" rel="noopener" target="_blank"><i class="fa-brands fa-lg fa-linkedin " style="color: #ffffff; padding: 10px;"></i> </a>

    <a href="https://www.fiverr.com/nwandoifezue?up_rollout=true" rel="noopener" target="_blank"><i class="fa-brands fa-lg fa-fonticons-fi" style="color: #ffffff; padding: 10px;"></i></a>

    <a href="mailto:nwandoifezue@gmail.com" target="_blank"><i class="fa-lg fa-solid fa-envelope" style="color: #ffffff; padding: 10px;"></i></a>
    <br>

    <p>Made by <a href="https://linktr.ee/ifezue">Nwando Ifezue</a></p>
    </footer>


    <!-- bootstrap script  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>